.btn {
  padding: toRem(16);
  border-radius: toRem(20);

  font-weight: 500;
  font-size: toRem(17);
  letter-spacing: toRem(0.4);

  &--block {
    display: block;
    width: 100%;
  }

  &--primary {
    color: white;
    background-color: $primary;
  }
}

.text-btn {
  border-radius: toRem(10);
  padding: toRem(8) toRem(24);

  font-weight: 500;
  letter-spacing: toRem(0.2);

  &--primary {
    color: $primary;
    background: lighten($color: $primary, $amount: 42%);

    &:hover,
    &:focus {
      color: #ffffff;
      background-color: $primary;
    }
  }
}
