$primary: #e4413a;
$accent: #f4b400;
$brand-white: #eff2f7;
$secondary-light: #eff2f7;
$secondary-dark: #95a1b3;
$brand-black: #181818;

html:root {
  --primary: $primary;
  --accent: $accent;
  --brand-black: $brand-black;
  --brand-white: $brand-white;
  --secondary-dark: $secondary-dark;
  --secondary-light: $secondary-light;
}
