$primary: #E4413A;
$accent: #F4B400;
$brand-white: #EFF2F7;
$secondary-light: #EFF2F7;
$secondary-dark: #95A1B3;
$brand-black: #181818;

html:root {
  --primary: $primary;
  --accent: $accent;
  --brand-black: $brand-black;
  --brand-white: $brand-white;
  --secondary-dark: $secondary-dark;
  --secondary-light: $secondary-light;
}